app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
bin/civix.phar
bin/cv
bin/php-parse
bin/psysh
bin/var-dump-server
build/
/tests/snapshots/*/upgrade
/tests/snapshots/*/upgrade.log
/tests/snapshots/*/upgrade.err
/tests/snapshots/*/upgrade.diff
/extern/
/tmp/
vendor
composer.phar
*~
.idea
